*{
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #ccc;
  padding:60px;
}

input {
  font-size:1.3rem;
  width: 100%;
  color:grey;
}

.card-grid
{
  display:flex;
  font-size:row;
  flex-wrap:wrap;
}
.card {
  align-content:center;
  border:1px solid #777;
  border-radius:6px;
  margin-bottom:10px;
  margin-right: 10px;;
  overflow:hidden;
  
}
.card img {
  width:100%;
  max-width: 100%;
} 
.card p{
  text-align: center;
}
